@charset "utf-8";
@import "./reset-1.0";
@import "../helpers/px2rem";

$designWidth: 750;

$jp-red: #ff464e;

html {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
  box-sizing: border-box;
}

/* 配合HOTCSS定义的样式 */
body {
  width: 16rem;
  margin: 0 auto;
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'Droid Sans Fallback', 'Microsoft Yahei', sans-serif;
}
/* 配合HOTCSS定义的样式end */

*, *::after, *::before {
  box-sizing: inherit;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.fl{
  float:left;
}
.fr{
  float:right;
}

.alert_fullbg{
  display: none;
  height:100%;
  width:100%;
  top:0;
  left:0;
  position:fixed;
  z-index:200;
  filter:alpha(opacity=50);
  opacity:0.5;
  background-color:#000;
}
.odd-placeholder {
  pointer-events: none;
  > * { opacity: 0; }
  background: url('//act.juancdn.com/jpwebapp/common/images/blank.png') no-repeat center;
  background-size: 100%;
}

/* lazyload 样式 */
.img-thumbnail {
    position: relative;
    background:#fafafa url('//act.juancdn.com/jpwebapp/common/images/wapblank.png') no-repeat center;
    background-size: px2rem(310);
    img {
        position: absolute;
        opacity: 0;
        top: -1px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 1s linear;
        &.loaded {
            opacity: 1;
        }
    }
}
.bg-thumbnail {
  position: relative;
  background-size: 100% 100%;
  &::before {
    content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    background:#fafafa url('//act.juancdn.com/jpwebapp/common/images/wapblank.png') no-repeat center;
    background-size: contain;
  }
  &.loaded::before {
    z-index: -1;
  }
}
