@charset "utf-8";
@import 'bourbon';
@import "./reset-1.0";
@import "../helpers/px2rem";
@import "../../../common/scss/lazyload";
@import "../../../common/scss/webp";

$designWidth: 750;

$jp-red: #ff464e;

html {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* 配合HOTCSS定义的样式 */
body {
  width: 16rem;
  margin: 0 auto;
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'Droid Sans Fallback', 'Microsoft Yahei', sans-serif;
}
/* 配合HOTCSS定义的样式end */
%clearfix {
  @include clearfix;
}
.clearfix {
  @include clearfix;
}
// 修复不兼容的浏览器
[hidden] {
  display: none;
}
.fl{
  float:left;
}
.fr{
  float:right;
}

.alert_fullbg{
  display: none;
  height:100%;
  width:100%;
  top:0;
  left:0;
  position:fixed;
  z-index:200;
  filter:alpha(opacity=50);
  opacity:0.5;
  background-color:#000;
}
.odd-placeholder {
  pointer-events: none;
  > * { opacity: 0; }
  background: url('/jpwebapp/common/images/blank.png') no-repeat center;
  background-size: 100%;
}