@charset "utf-8";



@keyframes play-seconds {
  to {
    transform: translate(-50%, -100%);
  }
}
.clock {
  font-size: 32px;
  color: #fff;
  display: inline-flex;
  text-align: center;
  vertical-align: -2px;
  .part {
    display: inline-flex;
  }
  b {
    font-weight: normal;
    background: #000;
    width: 24px;
    height: 36px;
    line-height: 36px;
    @include px2px(border-radius, 2);
    @include px1px(margin-left, 1);
    @include px1px(margin-right, 1);

    &.clock__usecond {
      position: relative;
      color: #fff;
      background-color: #C33C3C;
      overflow: hidden;
      div {
        position: absolute;
        width: 0.6em;
        left: 50%;
        transform: translateX(-50%);
        word-break: break-all;
        animation: play-seconds 1s infinite steps(10);
      }
    }
  }
  span {
    color: #888;
    font-size: 14px;
    @include px2px(margin-left, 6);
    @include px2px(margin-right, 6);
  }
  &__body {
    display: inline-flex;
    align-items: center;
  }

  &--simple {
    $radius: 8;
    color: #333;
    font-size: 28px;
    line-height: 1.71428; // 48px
    height: 48px;
    .part {
      background-color: #fff;
      padding: 0 7px;
      @include px2px(border-radius, $radius);
      display: block;
      width: 48px;
    }
    // override style
    b {
      background-color: transparent;
      width: auto;
      margin: 0 !important;
      &.clock__usecond {
        color: #c40c0c;
        background-color: #fff;
        width: 28px;
        @include px2px(border-radius, $radius);
      }
    }
    span {
      color: inherit;
      font-size: 24px;
    }
  }
}
.cross-line {
  display: flex;
  &::before, &::after {
    content: '';
    color: #ccc;
    background: linear-gradient(0deg, currentColor, currentColor) no-repeat center;
    background-size: 100% 1Px;
    min-height: 1em;
    flex: 1;
  }
  &__body {
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
  }
}