@charset "utf-8";
/*countdown*/
@mixin count-num() {
	display: inline-block;
	width: px2rem(24);
	height: px2rem(36);
	margin: 0 px2rem(1);
	line-height: px2rem(36);
	font-size: px2rem(32);
	border-radius: px2rem(4);
	text-align: center;
	font-weight: normal;
	font-family: arial;
}
.count {
	position: relative;
	height: px2rem(98);
	width:100%;
	overflow:hidden;

	.count-title {
		position:relative;
		text-align: center;
		font-size: px2rem(20);
		height: px2rem(30);
		line-height:px2rem(30);
		color: #333;
		margin-top:px2rem(14);
		font-family: 'Microsoft Yahei';
		.line {
			position:absolute;
			top:px2rem(10);
			left:50%;
			height:px2rem(2);
			width:50%;
			background-color:#ccc;
			transform:translateX(-50%);
			-webkit-transform:translateX(-50%);
		}

		span {
			position:relative;
			top:px2rem(-5);
			padding:0 px2rem(8);
			background-color: #fff;
		}
	}

	.count-clock {
		position: absolute;
		top: px2rem(40);
		left: 50%;
		white-space: nowrap;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);

		.clock {
			display: inline-block;
			color: #999;
			font-family: arial;
			white-space: nowrap;
			text-align: center;
			b {
				@include count-num;
				color: #fff;
				background-color: #333;
			}

			span {
				font-size: px2rem(14);
				padding: 0 px2rem(2);
				position: relative;
				top: px2rem(-5);
				font-family: 'Microsoft Yahei';
			}
		}

		.count-us {
			@include count-num;
			position: relative;
			top: px2rem(7);
			color: #fff;
			background-color: #9b0711;
			white-space: normal;
			word-break: break-all;
			overflow: hidden;
			margin-left: px2rem(-10);
			div {
				position: absolute;
				width: px2rem(24);
				-webkit-animation: play-seconds 1s infinite steps(10);
				        animation: play-seconds 1s infinite steps(10);
			}
		}
		.clock-img {
			display: inline-block;
			width: px2rem(24);
			height: px2rem(36);
			border-radius: px2rem(6);
			vertical-align: middle;
			position: relative;
			top: px2rem(-1);
		}
	}
}

.count-kind-2{
	position: absolute;
	bottom:0;
	height: px2rem(70);
	text-align: center;
	background: none;

	.count-box{
		display: inline-block;
		height: px2rem(70);
	}
	.count-title{
		display: inline-block;
		float: left;
		margin-top: 0;
		height: px2rem(70);
		line-height: px2rem(70);

		.line{
			display: none;
		}

		span{
			top:0;
			background: none;
			height: px2rem(70);
			line-height: px2rem(75);
			display: inline-block;
		}
	}
	.count-clock{
		position: relative;
		float: left;
		top:50%;
		left:0;
		transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);

		.clock{

			b{
				margin: 0;
				border-radius: 0;
			}

			.d1,.h1,.m1,.s1{
				border-top-left-radius:px2rem(4);
				border-bottom-left-radius:px2rem(4);
				text-align: right;
			}
			.d2,.h2,.m2,.s2{
				margin-left: px2rem(-1);
				border-top-right-radius:px2rem(4);
				border-bottom-right-radius:px2rem(4);
				text-align: left;
			}

			span{
				color: #333;
			}

		}
	}
/*djs*/
}

@-webkit-keyframes play-seconds {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes play-seconds {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}




/*countdown end*/
