@charset "utf-8";
/*countdown*/
@mixin count-num() {
	display: inline-block;
	width: 30px;
	height: 43px;
	margin: 0 1px;
	line-height: 43px;
	font-size: 32px;
	border-radius: 4;
	text-align: center;
	font-weight: normal;
	font-family: arial;
}
.count {
	position: relative;
	height: 104px;
	width:100%;
	background-color: #fff;
	overflow:hidden;

	.count-title {
		position:relative;
		text-align: center;
		font-size: 20px;
		height: 30px;
		line-height:30px;
		color: #333;
		margin-top:14px;

		.line {
			position:absolute;
			top:10px;
			left:50%;
			height:2px;
			width:50%;
			background-color:#ccc;
			transform:translateX(-50%);
			-webkit-transform:translateX(-50%);
		}

		span {
			position:relative;
			top:-5px;
			padding:0 8px;
			background-color: #fff;
		}
	}

	.count-clock {
		position: absolute;
		top: 40px;
		left: 50%;
		white-space: nowrap;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);

		.clock {
			display: inline-block;
			color: #999;
			font-family: arial;
			white-space: nowrap;
			text-align: center;
			b {
				@include count-num;
				color: #fff;
				background-color: #333;
			}

			span {
				font-size: 16px;
				padding: 0 2px;
				position: relative;
				top: -5px;

			}
		}

		.count-us {
			@include count-num;
			position: relative;
			top: 10px;
			color: #fff;
			background-color: #9b0711;
			white-space: normal;
			word-break: break-all;
			overflow: hidden;
			margin-left: -10px;
			div {
				position: absolute;
				width: 30px;
				-webkit-animation: play-seconds 1s infinite steps(10);
				        animation: play-seconds 1s infinite steps(10);
			}
		}
		.clock-img {
			display: inline-block;
			width:30px;
			height:43px;
			border-radius: 6px;
			vertical-align: middle;
			position: relative;
			top: -1px;
		}
	}
}

.count-kind-2{
	height: 86px;
	text-align: center;
	background: none;

	.count-box{
		display: inline-block;
		height: 86px;
	}
	.count-title{
		display: inline-block;
		float: left;
		margin-top: 0;
		height: 86px;
		line-height: 86px;
		
		.line{
			display: none;
		}
		
		span{
			top:0;
			background: none;
			height: 86px;
			padding:0 8px 0 0;
			line-height: 86px;
			display: inline-block;
		}
	}
	.count-clock{
		position: relative;
		float: left;
		top:50%;
		left:0;
		transform: translateX(0);
		-webkit-transform: translateX(0); 
		transform: translateY(-50%);
		-webkit-transform: translateY(-60%); 
		
		.clock{
			
			b{
				margin: 0;	
				border-radius: 0;
			}
			
			.d1,.h1,.m1,.s1{
				border-top-left-radius:4px;
				border-bottom-left-radius:4px;
				text-align: right;
			}
			.d2,.h2,.m2,.s2{
				margin-left: -1px;
				border-top-right-radius:4px;
				border-bottom-right-radius:4px;
				text-align: left;
			}
			
			span{
				color: #333;
				padding:0 5px; 
			}
			
		} 
		.count-us {
			margin-left: -13px;
		}
	}

/*djs*/
}

@-webkit-keyframes play-seconds {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes play-seconds {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}




/*countdown end*/