@charset "utf-8";
$good-red: #ff5050;
$title-color: #6b6b6b;
$font-num: arial;
@mixin padding-h($px) {
	@include px1px(padding-left, $px);
	@include px1px(padding-right, $px);
}
@mixin margin-h($px) {
	@include px1px(margin-left, $px);
	@include px1px(margin-right, $px);
}
.floor-title {
	text-align: center;
	img {
		display: block;
		width: 100%;
	}
}
.sub-title {
	position: relative;
	@include px1px(height, 16.5);
	@include px1px(font-size, 12);
	text-align: center;
	@include px1px(margin-bottom, 10);
	.sub-title-line {
		position: absolute;
		width: 20%;
		@include px1px(height, 1);
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);

	}
	.sub-title-line-left {
		left: 10%;
	}
	.sub-title-line-right {
		right: 10%;
	}
	> span {
		position: relative;
		display: inline-block;
		@include padding-h(7.5);
		z-index: 1;
	}

}
.good-img {
	@extend .img-thumbnail;
	img {
		top: 0;
	}
	position: relative;
    .placeholder {
      	padding-bottom: 100%;
    }
}
.good-btn {
	display: block;
	width: 100%;
	@include px1px(height, 27);
	@include px1px(line-height, 25);
	@include px1px(font-size, 12);
  border: solid $good-red;
  @include px1px(border-width, 1);
  outline: none;
  -webkit-appearance: none;
	text-align: center;
	color: #fff;
	background-color: $good-red;
	white-space: nowrap;
	@include px1px(border-radius, 2);
	&.disabled, &.good-btn-out {
		background-color: #cdcdcd;
		border-color: #cdcdcd;
	}
	&-o, &.favored, &-dashed {
		background-color: #fff;
		color: $good-red;
	}
	&.good-btn-dashed {
		border-style: dashed;
	}
	&.good-btn-border {
		border: 1px solid #ff5050;
		background-color: #fff;
		color: #ff5050;
	}
}
.good-tag {
	display: inline-block;
	@include px1px(height, 13);
	@include px1px(line-height, 13);
	@include px1px(font-size, 10);
	@include padding-h(4);
	border: 1px solid $good-red;
	@include px1px(border-width, 1);
	color: $good-red;
	font-style: normal;
	position: relative;
	&.disabled {
		color: #bbb;
		border-color: #bbb;
	}
	&.favored {
		color: #bbb;
		border-color: #bbb;
	}
	&.good-tag-m {
		@include px1px(height, 16);
		@include px1px(line-height, 16);
		@include padding-h(4);

	}
	&.good-tag-yellow {
		background-color: #ffb200;
		border-color: #ffb200 !important;
		color: #fff !important;
	}
	&.good-tag-green {
		background-color: #67c7b1;
		border-color: #67c7b1 !important;
		color: #fff !important;
	}
}
.good-discount {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	@include px1px(height, 21);
	@include px1px(line-height, 21);
	@include padding-h(8);
	@include px1px(font-size, 12);
	background-color: rgba(0,0,0,.45);
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.good-price {
	@include px1px(font-size, 18);
	color: $good-red;
	font-family: $font-num;
	@include padding-h(5);

	&.good-price-m {

	}
	sub {
		@include px1px(font-size, 12);
		@include px1px(padding-right, 2);
		vertical-align: baseline;
	}
}
.good-oprice {
	@include px1px(font-size, 10);
	color: #d8d8d8;
	text-decoration: line-through;
	sub {
		@include px1px(padding-right, 2);
	}
}
.good-line-title {
	//@include px1px(height, 16.5);
	@include px1px(line-height, 17);
	@include px1px(font-size, 12);
	@include padding-h(7.5);
	@include px1px(padding-top, 6);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: $title-color;
}
.good-line-price {
	@include px1px(height, 20.5);
	@include px1px(margin-top, 6);
	@include margin-h(8);
	white-space: nowrap;
	line-height: 1;
	position: relative;
	@include px1px(margin-top, 6);
	display: flex;
	@include align-items(baseline);
}
.good-prices {
	position: relative;
	span {
		vertical-align: bottom;
	}
}
.good-price-tag {
	@include px1px(font-size, 10);
	color: $good-red;
}
.good-line-btn {
	@include padding-h(8);
	@include px1px(padding-top, 8);
	@include px1px(padding-bottom, 10);
}
.buy-over {
	background:url('//act.juancdn.com/jpwebapp/common/images/buy-over.png') no-repeat;
	background-size:contain;
	height:40%;
	padding-top:15%;
	width:40%;
	text-align:center;
	color:#fff;
	position:absolute;
	top:30%;
	left:50%;
	margin-left:-20%;
	text-indent:-200%;
	overflow:hidden;
}
.jiao_good {
  position: absolute;
  width: px2rem(71);
  height: px2rem(70);
  left: px2rem(10);
  top: px2rem(0);
  background: url('//act.juancdn.com/jpwebapp/common/images/jiao_good.png') no-repeat top left;
  background-size: contain;
}
.jiao_hong {
	position: absolute;
	width: px2rem(59);
  height: px2rem(69);
	left: px2rem(10);
	top: px2rem(10);
	background: url('//act.juancdn.com/jpwebapp/common/images/icon_hong.png') no-repeat top left;
	background-size: contain;
	text-align: center;
	line-height: px2rem(100);
	color: #ffe890;
	font-size: px2rem(24);
	font-family: arial;
}
.jiao_top {
		position: absolute;
		@include px2px(width, 73);
		@include px2px(height, 59);
		left: px2rem(7);
		top: px2rem(7);
		background: url('//act.juancdn.com/jpwebapp/common/images/icon_top.png') no-repeat top left;
		background-size: contain;
		text-align: center;
		@include px2px(line-height, 70);
		color: #ffff99;
		@include px2px(font-size, 24);
		font-family: arial;
}
.goods-list {

	@extend %clearfix;
	padding-left: px2rem(18);
	padding-top: px2rem(4);
	margin-bottom: px2rem(-18);
	overflow: hidden;
	li {
		float: left;
		width: px2rem(348);
		margin-right: px2rem(18);
		margin-bottom: px2rem(18);
		background-color: #fff;
		> a {
			display: block;
			position: relative;
		}
	}

}
.good-d1 {
	.good-line-title {
		text-align: center;
	}
	.good-line-price {
		@include px1px(margin-top, 4);
		@include justify-content(center);
	}
	.good-tag {
		position: relative;
		@include px1px(top, -1);
		@include px1px(margin-right, 5);
	}
	.good-price {
		position: relative;
		bottom: 0;
		@include px1px(bottom, -1);
	}
}
.good-d2 {
	@extend .good-d1;
}
.good-d3 {
	@extend .good-d1;
}
.good-d4 {
	@extend .good-d1;
}
.good-d5 {
	.good-line-title {
		@include px1px(padding-bottom, 10);
	}
	.good-line-price {
		.good-price {
			padding-left: 0;
		}
	}
	.good-tag {
		position: absolute;
		@include px1px(bottom, 3);
		right: 0;
	}
}
.good-d6 {
	@extend .good-d5;
}
.good-d7 {
	float: none !important;//覆盖.goods-list li的样式
	width: auto !important;//覆盖.goods-list li的样式
	@extend %clearfix;
	.good-left,
	.good-right {
		float: left;
	}
	.good-left {
		width: px2rem(310);
	}
	.good-right {
		width: px2rem(404);

		padding-left: px2rem(34);
		padding-top: px2rem(34);
		padding-right: px2rem(34);
	}
	.good-title {
		@include px1px(height, 20);
		@include px1px(font-size, 14);
		color: #6b6b6b;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.good-tags {
		.good-tag {
			vertical-align: top;
		}
		@include px1px(height, 16);
	}
	.good-line-bottom {
		margin-top: px2rem(80);
		position: relative;
		.good-btn {
			position: absolute;
			@include px1px(width, 71);
			@include px1px(height, 30);
			@include px1px(line-height, 30);
			@include px1px(font-size, 12);
			right: 0;
			top: 0;
		}
		.good-price {
			line-height: 1;
			padding-left: 0;
			@include px1px(font-size, 20);
		}
	}
}
.good-d8 {
	@extend .good-d7;
	.good-left {
		width: px2rem(300);
		height: px2rem(290);
		margin: px2rem(10);
		margin-right: 0;
	}
	.good-line-bottom {
		margin-top: px2rem(22);
		.good-price, .good-oprice {
			display: inline-block;
		}
		.good-btn {
			position: static;
			display: block;
			width: 100% !important;
			margin-top: px2rem(36);
		}
	}
	.jiao_good {
		width: px2rem(86);
		height: px2rem(76);
		left: px2rem(-14);
		top: px2rem(-14);
	}
	.good-title-tag {
		position: relative;
		@include px2px(top, -2);
		display: inline-block;
		@include px2px(height, 28);
		@include px2px(line-height, 28);
		@include px2px(font-size, 20);
		@include px2px(padding-left, 5);
		@include px2px(padding-right, 5);
		@include px2px(margin-right, 24);
		color: #fff;
		vertical-align: middle;
		&:before {
			display: inline-block;
			@include px2px(height, 28);
			@include px2px(line-height, 28);
		}
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			@include px2px(top, 0);
			@include px2px(right, -22);
			font-size: 0;
			border-style: solid;
			@include px2px(border-top-width, 14);
			@include px2px(border-bottom-width, 14);
			@include px2px(border-left-width, 11);
			@include px2px(border-right-width, 12);
			background-color: transparent;
			// @media (max-width: 640px) {
			// 	& {
			// 		border-left-width: 13Px !important;
			// 	}
			// }
		}
		&-1 {
			background-color: #ffa614;
			&:before {
				content:'满减';
			}
			&:after {
				border-left-color: #ffa614;
			}
		}
		&-2 {
			background-color: #4a90e2;
			&:before {
				content:'满折';
			}
			&:after {
				border-left-color: #4a90e2;
			}
		}
		&-3 {
			background-color: #fb8fb6;
			&:before {
				content:'满赠';
			}
			&:after {
				border-left-color: #fb8fb6;
			}
		}
		&-4 {
			background-color: #96d130;
			&:before {
				content:'满免';
			}
			&:after {
				border-left-color: #96d130;
			}
		}
		&-5 {
			background-color: #1dcbcb;
			&:before {
				content:'任选';
			}
			&:after {
				border-left-color: #1dcbcb;
			}
		}
	}
	.good-tags {
		@include px2px(font-size, 20);
		color: #b4b4b4;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.good-d9 {
	@extend .good-d1;
}
.good-p1 {
	@extend .good-d1;
	.good-line-btn {
		@extend %clearfix;
	}
	.good-btn {
		float: left;
		width: 49%;
	}
	.good-btn-dashed {
		margin-right: 2%;
		@include px1px(line-height, 26);
	}
}
.good-p2 {
	@extend .good-p1;
	.good-btn {
		@include px1px(padding-left, 3);
		@include px1px(padding-right, 3);
	}
}

.good-p3 {
	.good-line-title {
		text-align: center;
	}
	.good-line-price {
		@include justify-content(center);
	}
	.good-line-btn {
		@include px1px(padding-top, 6);
	}
	.good-price {
		@include px1px(font-size, 16);
		padding: 0;
		font-family: inherit;
	}
	.good-from {
		@include px1px(font-size, 12);
		color: $good-red;
	}
}
.good-p4 {
	@extend .good-p3;
}
.good-p5 {
	@extend .good-d5;
	.good-line-title {
		@include px1px(padding-right, 24);
	}
	.good-tag-brand {
		position: absolute;
		@include px1px(width, 10);
		@include px1px(height, 10);
		@include px1px(right, 8);
		@include px1px(bottom, 14);
		background: url('//act.juancdn.com/jpwebapp/common/images/icon_brand.png') no-repeat;
		background-size: contain;
	}
}
.good-p6 {
	@extend .good-p5;
}
.good-p7 {
	float: none !important;
	width: auto !important;
	@extend %clearfix;
	.good-left,
	.good-right {
		float: left;
	}
	.good-left {
		width: px2rem(310);
	}
	.good-right {
		width: px2rem(404);

		padding-left: px2rem(32);
		padding-top: px2rem(32);
		padding-right: px2rem(32);
	}
	.good-line-bottom {
		white-space: nowrap;
		line-height: 1;
		position: relative;
		margin-top: px2rem(16);
		@include display(inline-flex);
		@include align-items(baseline);
		@include justify-content(center);
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		.good-price {
			padding-left: 0;
			@include px1px(font-size, 26);
			position: relative;
			.good-tag {
				position: absolute;
				@include px1px(width, 33);
				@include px1px(height, 11);
				@include px1px(text-indent, 10);
				@include prefixer(transform, translateX(100%), webkit);
				right: 0;
				top: 0;
				border: none;
				padding: 0;
				background: url('//act.juancdn.com/jpwebapp/common/images/icon_exclusive.png') no-repeat center top;
				background-size: cover;
			}
		}
	}
	.good-brand {
		position: relative;
		@include px1px(height, 16.5);
		@include px1px(font-size, 12);
		text-align: center;
		color: #bbb;
		.good-line {
			position: absolute;
			width: 100%;
			@include px1px(height, 1);
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			background-color: #bbb;
		}
		> span {
			position: relative;
			display: inline-block;
			max-width: 100%;
			@include px1px(height, 14);
			@include padding-h(7.5);
			background-color: #fff;
			z-index: 1;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	.good-title {
		@include px1px(height, 20);
		@include px1px(font-size, 14);
		margin-top: px2rem(14);
		color: #6b6b6b;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
	}
	.good-line-btn {
		margin-top: px2rem(20);
		// @include px1px(margin-top, 10);
		padding: 0;
	}
	.good-btn {
		@include px1px(height, 30);
		@include px1px(line-height, 30);
		@include px1px(font-size, 12);
	}
}
.good-p8 {
	@extend .good-d8;
}
.good-p9 {
	@extend .good-p3;
	.good-line-price {
		text-align: center;
	}
	.good-line-btn {
		@extend %clearfix;
	}
	.good-btn-dashed {
		float: left;
		width: 49%;
		margin-right: 2%;
	}
	.good-btn-half {
		float: left;
		width: 49%;
	}
	.good-btn-op {
		opacity: .39
	}
}
@media (max-width: 640px) {
	[data-dpr="2"] .good-p9 .good-btn {
		padding-left: 5Px;
		padding-right: 5Px;
		font-size: 20Px;
	}
}
.good-t10 {
	@extend .good-d1;
}
.good-t11 {
	@extend .good-d7;
	.good-title {
		margin-top: px2rem(15);
		text-align: center;
	}
	.good-line-bottom {
		margin-top: px2rem(32);
		text-align: center;
		.good-price{
			display: inline-block;
			font-size: px2rem(56) !important;
		}
		.good-price sub {
			vertical-align: middle;
		}
		.good-oprice-wrapper {
			display: inline-block;
			text-align: right;
			transform: translateY(-4Px);
		}
		.good-price-decoration {
			font-size: px2rem(20);
			// @include px2px(font-size, 20);
			color: #ff5050;
		}

	}
	.good-btn {
		position: static;
		display: block;
		width: 100% !important;
		margin-top: px2rem(36);
	}
}
.good-t12{
	@extend .good-d7;
	margin:0 0 px2rem(18) px2rem(-18)!important;
	padding:0 0 px2rem(16*2) 0!important;
	.good-img{
		position: relative;
		width: 100%;
		height: px2rem(175*2);
		overflow: hidden;
		p{
			position: absolute;
			z-index:2;
			top: px2rem(145*2);
			left: 0;
			@include px2px('width',91*2);
			@include px2px('height',20*2);
			@include px2px('line-height',20*2);
			@include px2px('font-size',11*2);
			color: #6b6b6b;
			text-align: center;
			border-top-right-radius: px2rem(10*2);
			border-bottom-right-radius: px2rem(10*2);
			background-color: rgba(255,255,255,0.9);
		}
	}
	.good-line-title{
		font-size: px2rem(16*2);
		color: #4a4a4a;
		padding: px2rem(20) 0 px2rem(20) px2rem(20);
	}
	.good-line-price{
		display: inline-block;
		margin: 0 0 0 px2rem(20)!important;
		@include px2px('height',32*2);
		@include px2px('line-height',32*2);
		width: 70%;
	}
	.good-line-btn{
		vertical-align: middle;
		float:right;
		padding:0 px2rem(20) 0 0!important;
		@include px2px('width',90*2);
	}
	.good-btn{
		border-radius:0;
		@include px2px('height',32*2);
		@include px2px('line-height',32*2);
	}
	.good-price-tag{
		@include px2px('font-size',12*2);
		color: #6b6b6b;
		.ico{
			margin-right: px2rem(4);
			display: inline-block;
			width: px2rem(28);
			height: px2rem(22);
			background: url("//act.juancdn.com/jpwebapp/common/images/tuan_icon.png");
			background-size: 100% 100%;
			vertical-align: middle;
		}
	}
	.buy-over{
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width:px2rem(160);
		height:px2rem(160);
		padding:0;
		margin:0;
		text-indent:0;
		background:url("//act.juancdn.com/jpwebapp/common/images/tuan-over.png");
		background-size: 100% 100%;
	}
	.good-btn-ready{
		background-color: #11CCBB !important;
		border:0;
	}
}
