@charset "utf-8";

/*160623*/
.goods-list {
    @extend %clearfix;
    width: 750px;
    padding: 0 18px;
}
.goods-list a:hover {
    text-decoration: none
}
.goods-list li {
    float: left;
    width: 348px;
    position: relative;
    margin-right: 18px;
    margin-bottom:18px;
    background-color: #fff;
    > a {
    	display: block;
    	text-decoration: none;
			overflow: hidden;
    }
}
.goods-list li:nth-child(2n) {
	margin-right: 0;
}
.goods-list li .goods-a {
    display: block;
    position: relative;
		width: 100%;
		height: 100%;
	 	@extend .img-thumbnail;
    .placeholder {
      padding-bottom: 100%;
    }
}
.goods-list li .goods-a:nth-child(2n){
	left: -1px;
}

.goods-list li .goods-a .discount {
	position: absolute;
	width: 101%;
	bottom: -1Px;
	left: -1px;
	color: #fff;
	background-color: rgba(0,0,0,.45);
	text-indent: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.list-price {
  @include px2px('line-height',58);
  @include px2px('height',58);
	position: relative;
	margin: 0 16px;
}
.price-new {
	display: inline-block;
	@include px2px("margin-right",8);
  	@include px2px('font-size',36);
  	color: $jp-red;

  	i{	
  		@include px2px('font-size',20);
  		font-style: normal;
  		@include px2px('padding-right',4);
  	}

}
.del {
	position: relative;
	top: -4px;
  margin-left: 2px;
  color: #b2b2b2;
  text-decoration: line-through;
  @include px2px('font-size',20);
  font-family: arial;
  font-style: normal;
}
.del i{
	display: none;
}
.buy .price-new i,.start .price-new i,.end .price-new i {
    font-family: arial
}
.remind {
	position: absolute;
	height: 50px;
	line-height: 48px;
	color: $jp-red;
	border: 2Px solid $jp-red;
	font-size: 36px;
	text-align: center;
	padding: 0 14px;
	right:-40px;
	top: 10px;
	transform:scale(0.5);
	-webkit-transform:scale(0.5);
	text-decoration: none;
	&.collect {
		color: #bbb;
		border-color: #bbb;
	}
}
.remind.reminded {
  border: 1px solid #bbb;
  color: #bbb; 
}
.goods-list li .goodtitle{
	display: none;
}
.goods-list li h3 {
	position: relative;
	@include px2px('margin-top',8);
	margin-left: 4%;
	@include px2px('height',47);
	@include px2px('font-size',24);
	font-weight: normal;
  color: #6b6b6b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  font-weight: normal;
}
.goods-list .fixImg{
  background:url('../../common/images/blank.png') no-repeat center top;
  background-size:100% 100%;
}
.buy-over {
	background:url('../../common/images/buy-over.png') no-repeat;
	background-size:contain;
	height:40%;
	padding-top:15%;
	width:40%;
	text-align:center;
	color:#fff;
	position:absolute;
	top:30%;
	left:50%;
	margin-left:-20%;
	text-indent:-200%;
	overflow:hidden;
}
// .goods-list .icons.brand.brand_right_down {
//     background: url('../../common/images/icon-brand.png') no-repeat 0 0;
//     background-size: contain;
// }
.goods-list .icons.brand_right_down {
	display: block;
	position: absolute;
	right:4%;
	@include px2px('height',22);
	@include px2px('width',22);
	bottom: 20px;
}
.goods-list .ygoods_btn_box,.pz-title,.ylsx{
	display: none;
}
.yure .ylsx{
	display: none!important;
}

/*yinliu goods-list start*/
.ygoods-list{ 
	.buy-over{
		display: none!important;
	}
	li {
		h3{
			display: none;
		}
		.goodtitle{
			display: block;
			position: relative;
			@include px2px('height',59);
			@include px2px('line-height',59);
			@include px2px('font-size',24);
			font-weight: normal;
			color: #6b6b6b;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			font-weight: normal;
			text-align: center;

			.ylsx{
				display: block;
				@include px2px('margin-right',10);
				@include px2px('width',50);
				@include px2px('height',24);
				@include px2px('line-height',24);
				@include px2px('font-size',18);
				@include px2px('vertical-align',3);
				background-color:#ffbe00;
				color: #fff;
				display: inline-block;
				text-align: center;
			}
		}
	}
	.list-price{
		@include px2px('margin-bottom',13);
		@include px2px('height',32);
		@include px2px('line-height',32);
		text-align: center;
		vertical-align: top;
	}
	.price-new{
		position: relative;
		bottom: 0;
		@include px2px('height',32);
		@include px2px('font-size',32);
		font-family: 'arial';
		vertical-align: top;

		i{
			font-style: normal;
			@include px2px('font-size',20);
		}
	}
	.del{
		top: inherit;
		@include px2px('bottom',4);
		display: inline-block;
		@include px2px('height',32);
		vertical-align: baseline;

		i{
			display: inline-block;
			@include px2px('margin-right',12);
		}
	}
	.remind{
		position: static;
		height: 25px;
		line-height: 25px;
		display: inline-block;
		vertical-align: top;
		@include px2px('font-size',18);
		padding: 0 7px;
		border: 0;
		background: #ffae3b;
		color: #fff;
		transform:none;
		-webkit-transform:none;
	}
	.ygoods_btn_box{
		display: block;
		text-align: center;
		@include px2px('margin-bottom',15);
		@include px2px('margin-top',6);

		span{
			display: inline-block;
			text-align: center;
			//border:px2rem(2) dashed #ff5050;
			font-size:24px;
			width:156px;
			height:54px;
			line-height:54px;
			vertical-align:top;
			border-radius:6px;
		}

		span:nth-child(1){
			font-size:24px;
			width:156px;
			height:54px;
			background:url('../common/images/yl_btn_bg.png') no-repeat;
			background-size:cover;
			color: #ff5050;
		}

		span:nth-child(2){
			font-size:24px;
			background: #ff5050;
			color: #fff;
		}
	}
}
/*yinliu goods-list end*/


/* yinliu yinliu goods-list style2 start*/
.ygoods-list-2{
	
	li h3{
		display: none;
	}
	li .goodtitle {
	    display: block;
	    position: relative;
	    width: 100%;
		 	@include px2px('padding-top',5);
	    @include px2px('height',50);
	    @include px2px('line-height',50);
	    @include px2px('font-size',24);
	    font-weight: normal;
	    color: #6b6b6b;
	    text-align: center;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    font-weight: normal;
	}
	.buy-over{
		display:none!important;
	}
	
	.list-price{
		@include px2px('margin-bottom',6);
		@include px2px('height',45);
		@include px2px('line-height',45);
		text-align: center;
		vertical-align: top;
		
		.price-new,.del,.remind {
			display: none;
		}
		.pz-title{
			display: block;
			color: #ff5050;
			@include px2px('height',45);
	    @include px2px('line-height',45);
	    @include px2px('font-size',32);
			
			i{
				font-style: normal;
				
			}
			b{
				@include px2px('font-size',24);
				font-weight: normal;
			}
		}
	}
	.ygoods_btn_box{
			margin: 0 auto 16px;
			display: block;
			width:318px;
			height: 54px;
			line-height: 54px;
			font-size: 24px;
			text-align: center;
			color: #fff;
			border-radius: 4px;
			background-color: #ff5050;
		
			span{
				display: none;
			}
			a{
				color: #fff;
			}
		}
}
/* yinliu yinliu goods-list style2 start*/

.ylgood_show{
	display:none;
}
.ygoods-list{
	.dpgood_show{
		display:none;
	}
	.ylgood_show{
		display:block;
	}	
}