@charset "utf-8";
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.7);
  overflow: auto;
  z-index: 105;
  display: none;
}
.modal.open {
  display: block;
}
.modal-border {
  position: fixed;
  width: 85%;
  max-width: px2rem(640);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #fff;
  // border: px2rem(4) solid #ff6464;
  z-index: 105;
  border-radius: px2rem(10);
}
.modal-window {
  // padding: px2rem(60) px2rem(40);
  max-height: px2rem(800);
  overflow-y: auto;
  overflow-x: hidden;
  // background: url('images/modal_bg.png'+$time_stamp) no-repeat center bottom;
  // background-size: 100% auto;
  border: px2rem(55) solid #333;
  border-image: url('../common/images/modal_border.png') 55 55 round;
  -webkit-overflow-scrolling: touch;
  @media all and (max-height:480px){
    & {
      max-height: px2rem(700);
    }
  }
}
.modal-close {
  width: px2rem(60);
  height: px2rem(60);
  position: absolute;
  right: px2rem(5);
  top: px2rem(5);
  z-index: 99999;
  // @include block_bg('images/modal_close.png');
}
.modal-body {
  font-size: px2rem(24);
  color: #404040;
  font-family: 'Microsoft Yahei';
  line-height: px2rem(36);
}
.modal-title {
  height: px2rem(50);
  line-height: px2rem(50);
  font-size: px2rem(36);
  font-weight: bold;
  color: #fd5d5b;
  text-align: center;
  margin-bottom: px2rem(20);
  background: url('../common/images/modal_title.png') no-repeat center;
  background-size: px2rem(229) auto;
}
.modal-btn {
  width: px2rem(218);
  height: px2rem(66);
  line-height: px2rem(66);
  margin: px2rem(30) auto 0;
  background-color: #fd5d5b;
  color: #fff;
  text-align: center;
  font-size: px2rem(32);
  font-family: 'Microsoft Yahei';
  border-radius: px2rem(8);
}
/***rules end***/