@charset "utf-8";
/* 秒杀区样式 */
.seckill {
  position: relative;
  height: px2rem(656);
  background-color: #FFCE00;
  overflow: hidden;
  &__dates {
    height: px2rem(80);
    &--2 .seckill__date {
      width: 50%;
    }
    &--3 .seckill__date {
      width: 33.33%;
    }
    &--4 .seckill__date {
      width: 25%;
    }
    &--5 .seckill__date {
      width: 20%;
    }
  }
  &__date {
    float: left;
    width: 100%;
    height: px2rem(80);
    border-right: 1px solid #FFCE00;
    @include px2px('border-width', 2);
    height: px2rem(80);
    line-height: px2rem(80);
    text-align: center;
    @include px2px('font-size', 28);
    background: #FF8C00;
    color: #fff;
    &--active {
      background: #FFCE00;
      color: #8f1414;
      font-weight: bold;
    }
    &:last-child {
      border-right: none;
    }
  }
  &__times-wrapper {
    position: relative;
    width: px2rem(750);
    height: px2rem(56);
    margin-top: px2rem(22);
    margin-bottom: px2rem(28);
    overflow: hidden;
  }
  &__times-scroll {//隐藏滚动条
    height: px2rem(65);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__bg-line {
    position: absolute;
    width: px2rem(846); //兼容4个tab时的长度
    height: px2rem(4);
    top: px2rem(26);
    background: #F4B618;
    z-index: 0;
  }
  &__times {
    position: relative;
    height: px2rem(56);
    z-index: 1;
    display: none;
    &--active {
      display: block;
    }
    &--2 {
      .seckill__time {
        width: px2rem(238);
        margin-left: px2rem(88);
        margin-right: px2rem(10);
        text-indent: px2rem(98);
      }
    }
    &--3 {
      .seckill__time {
        width: px2rem(174);
        margin-left: px2rem(68);
        margin-right: px2rem(-22);
        text-indent: px2rem(76);
      }
    }
    &--4 {
      width: px2rem(846);
      .seckill__time {
        width: px2rem(174);
        margin-left: px2rem(30);
        text-indent: px2rem(76);
      }
    }
  }
  &__time {
    position: relative;
    float: left;
    width: px2rem(360);
    height: px2rem(56);
    line-height: px2rem(56);
    margin-left: px2rem(195);
    //margin-right: px2rem(-22);
    border-radius: px2rem(100);
    background-color: #F4B618;
    text-indent: px2rem(95);
    color: #fff;
    font-weight: bold;
    // font-size: px2rem(28);
    @include px2px(font-size, 28);
    background: {
      image: url('//act.juancdn.com/jpwebapp/common/_dist/images/clock.png');
      repeat: no-repeat;
      position: px2rem(18) center;
      size: px2rem(40);
    }
    &--active {
      background-color: #9E40F1;
      &:after {
        content: '';
        position: absolute;
        bottom: px2rem(-10);
        left: 50%;
        transform: translateX(-50%);
        // @include triangle(24px, #9E40F1, down);
      }
    }
  }
  &__prods-wrapper {
    width: px2rem(750);
    height: px2rem(470);
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  &__prods {
    height: px2rem(354);
    display: none;
    &--active {
      display: table;
      margin-left: px2rem(18);
      margin-right: px2rem(18);
    }
  }
  &__prod {
    display: table-cell;
    width: px2rem(278);
    // height: px2rem(354);
    padding-right: px2rem(10);
    vertical-align: top;
    overflow: hidden;
    position: relative;
    &:last-child {
      padding-right: px2rem(18);
    }
    &-link {
      position: relative;
      display: block;
      width: px2rem(260);
      // height: px2rem(354);
      background-color: #fff;
      &--out {
        position: absolute;
        left: 0;
        top: 0;
        width: px2rem(260);
        height: px2rem(354);
        background: url(../common/images/seckill_out.png) no-repeat left center;
        background-size: cover;
        z-index: 3;
      }
      &--landing {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
      }
    }
    &-img {
      @extend .img-thumbnail;
      .placeholder {
        padding-bottom: 100%;
      }
      img {
        display: block;
        width: px2rem(260);
        height: px2rem(260);
      }
    }
    &-title {
      height: px2rem(33);
      line-height: px2rem(33);
      margin: 7px 0;
      @include px2px(font-size, 24);
      @include px2px(margin-right, 13);
      @include px2px(margin-left, 13);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      color: #4a4a4a;
    }
    &-prices {
      vertical-align: top;
      height: px2rem(42);
      @include px2px(margin-right, 13);
      @include px2px(margin-left, 13);
      white-space: nowrap;
      display: flex;
      @include align-items(baseline);
      span {
        @include px2px(margin-right, 5);
      }
    }
    &-price-tag {
      @include px2px(font-size, 20);
      color: #ff5050;
    }
    &-cprice {
      @include px2px(font-size, 24);
      color: #ff5050;
      i {
        font-style: normal;
        @include px2px(font-size, 18);
      }
    }
    &-oprice {
      @include px2px(font-size, 18);
      color: #aaa;
      text-decoration: line-through;
    }
    &-discount {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      @include px2px(height, 42);
      @include px2px(line-height, 42);
      @include px2px(padding-left, 10);
      @include px2px(padding-right, 10);
      @include px2px(font-size, 20);
      background-color: rgba(0,0,0,.45);
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-btn-wrapper {
      @include px2px(padding-right, 9);
      @include px2px(padding-left, 9);
      @include px2px(padding-bottom, 9);
    }
    &-btn {
      display: block;
      width: 100%;
      height: px2rem(44);
      padding: 0;
      line-height: px2rem(42);
      @include px2px(font-size, 20);
      background-color: #fff;
      border: 1px solid #ff5050;
      color: #ff5050;
      @include px2px(border-width, 2);
      @include px2px(border-radius, 2);
      &--active {
        background-color: #ff5050;
        border-color: #ff5050;
        color: #fff;
      }
      &--disabled {
        background-color: #cdcdcd;
        border-color: #cdcdcd;
        color: #fff;
      }
    }
  }
  &__count-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: px2rem(12);
    text-align: center;
    @include px2px(font-size, 24);
    color: #8F1414;
  }
}
/* 秒杀区样式结束 */