/* 返回顶部配合我的收藏，样式调整 */
@keyframes breathing {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
.slide-box {
  position: fixed;
  bottom: 110px;
  right: 0;
  z-index: 7;
  text-align: right;

  a {
    display: inline-block;
  }
  .back-top {
    @include size(86px);
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    @include px2px(border-width, 1);
    visibility: hidden;
    margin-right: 12px;
    background: #fff url(//act.juancdn.com/jpwebapp/common/images/back-top.png) no-repeat center center;
    background-size: 50px 50px;
  }
  .go-my-fav {
    @include size(115px 117px);
    background: url(../common/images/my-fav.png) no-repeat;
    background-size: 100% 100%;
  }
  .go-duobao {
    @include size(154px 158px);
    background: url(../common/images/duobao.png) no-repeat;
    background-size: 100% 100%;

    animation: breathing 2s ease-out infinite normal;
    &--on {
      background-image: url(../common/images/duobao-on.png);
      // margin-right: 2px;
    }
  }
}