
// 全局 loading 样式
// actAsync 里已内联，直接使用在 html 中使用 jp-loading, 不需要在 scss 中 import
@import "bourbon";
@import "../helpers/px2rem";
$jp-red: #ff464e;
$border-gray: rgba(#000, .15);
@keyframes loading-circle {
  0% {
    transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}
.jp-loading {
  @include position(absolute, 38.2% 0 0 50%);
  transform: translate(-50%, -38.2%);
  @include size(84px);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  &--close {
    opacity: 0;
    z-index: -1;
  }
  &__cart {
    @include size(48px);
  }
  &__border {
    @include position(absolute, 0);
    border-radius: 50%;
    border: solid $border-gray;
    @include px2px(border-width, 2);
    border-top-color: $jp-red;
    border-right-color: $jp-red;
    animation: loading-circle .7s linear infinite forwards
  }
}